version: 2
jobs:
  build-and-test:
    docker:
      - image: circleci/golang:1.9
      - image: circleci/postgres
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
    working_directory: /go/src/github.com/tmc/pqstream

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS

      - run: go get github.com/jstemmer/go-junit-report

      - run:
          name: Waiting for Postgres to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Postgres && exit 1

      - run: ./check_generated_code

      - run: ./build

      - run:
          name: Run unit tests
          environment:
            PQSTREAM_TEST_DB_URL: "postgres://root@localhost:5432/circle_test?sslmode=disable"
            PQSTREAM_TEST_DB_TMPL_URL: "postgres://root@localhost:5432/%s?sslmode=disable"
          command: |
            trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
            ./test | tee ${TEST_RESULTS}/go-test.out

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results
  lint:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/tmc/pqstream

    steps:
      - checkout

      - run: ./check_generated_code

      - run: ./build

      - run: ./lint
  clients-python:
    docker:
      - image: circleci/python:3
      - image: circleci/postgres
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
    working_directory: /home/circleci/go/src/github.com/tmc/pqstream
    steps:
      - checkout

      - run: echo 'export PATH=$HOME/go/bin:$PATH' >> $BASH_ENV
      - run: echo 'export PATH=$HOME/goroot/bin:$PATH' >> $BASH_ENV
      - run: echo 'export PATH=$HOME/protobuf/bin:$PATH' >> $BASH_ENV

      - run: cd clients; make deps

      - run: ./install-go

      - run: ./check_generated_code

      - run: ./build

      - run: cd clients/python; sudo make deps

      - run:
          name: Waiting for Postgres to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Postgres && exit 1

      - run:
          name: Run tests
          environment:
            PQSTREAM_TEST_DB_URL: "postgres://root@localhost:5432/circle_test?sslmode=disable"
            PQSTREAM_TEST_DB_TMPL_URL: "postgres://root@localhost:5432/%s?sslmode=disable"
          command: cd clients/python; make generate lint test

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results

  clients-ruby:
    docker:
      - image: circleci/ruby:2.4
    steps:
      - checkout

      - run: cd clients; make deps

      - run: cd clients/ruby; make deps generate gem lint
  docker-image:
    docker:
      - image: gcr.io/cloud-builders/docker
    working_directory: /go/src/github.com/tmc/pqstream
    steps:
      - checkout
      - setup_remote_docker:
          resuable: true
      - run:
          name: Build Image
          command: |
            docker build .
workflows:
  version: 2
  ci:
    jobs:
      - build-and-test
      - lint
      - docker-image
      - clients-python
      - clients-ruby
